Repository Th3S4mur41/mh-photography.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
	"**/*.{js,mjs,ts}": "eslint",
	"**/*.{css,less,sass,scss}": "stylelint"
}

feat: add localization for meta tags
  src/components/Footer.astro
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/pages/albums/[album].astro
Due: eslint

chore: rename photos section
  src/i18n/ui.ts
Due: eslint

feat: add localization for header and navigation (#646)
  .eslintrc
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Navigation.astro
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/layouts/Layout.astro
  src/pages/[...path].astro
  src/pages/albums/[album].astro
Due: eslint

chore(release): 2.3.0-alpha.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4736f1f887833d0fd4804b2f5aac2733d15beae3
Due: none

fix: copyright text
  src/components/Footer.astro
Due: none

chore(release): 2.3.0-alpha.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e621418a6e94e7b68b0d4164e7a84c16a6cbd64e
Due: none

feat: add initial video section
  src/components/Navigation.astro
  src/components/Videos.astro
  src/pages/[...path].astro
  src/styles/layout/videos.css
  src/styles/styles.css
Due: stylelint

chore(release): 2.3.0-alpha.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  d6b0d9e0d9583de10e9a6de6cb1bf50a966dad1b
Due: none

fix: minor photo improvements
  src/styles/layout/album.css
  src/styles/layout/photos.css
  src/styles/settings/colors.css
Due: stylelint

chore(release): 2.3.0-alpha.7 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  97399c6f3af679902e0c4782ca261b37f25c27be
Due: none

feat: add initial layout for weddings section
  src/components/Navigation.astro
  src/components/Weddings.astro
  src/pages/[...path].astro
  src/styles/layout/weddings.css
  src/styles/styles.css
Due: stylelint

feat: update hero images and optimize animation
  src/components/Header.astro
  src/styles/layout/header.css
Due: stylelint

chore(release): 2.3.0-alpha.8 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  312b30568a08ff6b8d4ab7ec04cfa3f22308b73b
Due: none

feat: add basic language selector
  assets/svg/language.svg
  src/components/Footer.astro
  src/components/LanguageSelector.astro
  src/styles/layout/footer.css
  src/styles/layout/language-selector.css
  src/styles/styles.css
Due: stylelint

feat: use dynamic lang list in selector
  src/components/LanguageSelector.astro
Due: none

feat: add basic language selector (#677)
  assets/svg/language.svg
  src/components/Footer.astro
  src/components/LanguageSelector.astro
  src/styles/layout/footer.css
  src/styles/layout/language-selector.css
  src/styles/styles.css
Due: stylelint

chore(release): 2.3.0-alpha.9 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8cbc2697a13368fb6e9af29ab686e35f8875f350
Due: none

feat: add initial layout for new about section
  src/components/About.astro
  src/i18n/ui.ts
  src/styles/base/base.css
  src/styles/elements/button.css
  src/styles/layout/about.css
  src/styles/settings/colors.css
  src/styles/settings/settings.css
Due: eslint, stylelint

feat: impove image layout
  src/styles/layout/about.css
Due: stylelint

feat: add video section description
  .hintrc
  src/components/Videos.astro
  src/i18n/ui.ts
  src/styles/layout/videos.css
Due: eslint, stylelint

feat: hide default language in url
  src/components/LanguageSelector.astro
  src/components/Navigation.astro
  src/i18n/utils.ts
Due: eslint

feat: auto generate sitemap
  _vite.config.mjs
  astro.config.mjs
  package-lock.json
  package.json
  public/sitemap.xml
Due: eslint

chore(release): 2.3.0-alpha.10 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0baaf4007fbf2eaede13165b85e1cfcc2ea79a84
Due: none

feat: add sitemap refs to header and robots.txt
  public/robots.txt
  src/layouts/Layout.astro
Due: none

feat: add automatic sitemap generation (#685)
  _vite.config.mjs
  astro.config.mjs
  package-lock.json
  package.json
  public/robots.txt
  public/sitemap.xml
  src/layouts/Layout.astro
Due: eslint

chore(release): 2.3.0-alpha.11 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  b677bbb0f487ddfacaf46a99db7231ca41bffe4c
Due: none

chore(about): change title to avoid repetition
  src/i18n/ui.ts
Due: eslint
