Repository Th3S4mur41/mh-photography.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

feat(footer): add created by link (#370)
  src/partials/footer.hbs
  src/styles/layout/footer.css
Due: stylelint

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  aab95ec4d0b08b14629c865ebd9be055f4253e2a
Due: none

fix: add fallback for logical viewport unit
  src/styles/layout/about.css
Due: stylelint

chore(depcs-dev): bump hint from 7.1.2 to 7.1.3
  package-lock.json
  package.json
Due: none

chore: recreate lockfile
  package-lock.json
Due: none

ci: temporary fix for webhint issue
  .github/workflows/test-code.yml
Due: none

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  6b44a070ab300ec7e81068e53860390b2d62bb46
Due: none

build: update styles to latest rules
  .browserslistrc
  .stylelintrc
  package-lock.json
  package.json
  src/styles/layout/about.css
  src/styles/layout/footer.css
  src/styles/layout/header.css
Due: stylelint

build(deps): sync lockfile
  package-lock.json
Due: none

fix: add fallback for logical viewport unit (#390)
  package-lock.json
  src/styles/layout/about.css
Due: stylelint

chore(release): 2.2.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4018eba12df26fc2f4329c24fa69636b46a629d7
Due: none

build: setup astro
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  _vite.config.mjs
  astro.config.mjs
  commitlint.config.cjs
  package-lock.json
  package.json
  postcss.config.cjs
  public/favicon.svg
  src/components/Card.astro
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  tsconfig.json
Due: eslint

build: migrate main page to astro
  _vite.config.mjs
  src/components/About.astro
  src/components/Contact.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Navigation.astro
  src/components/Photos.astro
  src/index.html
  src/layouts/Layout.astro
  src/pages/albums/business.astro
  src/pages/index.astro
  src/partials/head/geolocation.hbs
  src/partials/head/icons.hbs
  tools/photos.mjs
  vite.config.cjs
Due: eslint

build: migrate albums to astro
  src/components/Album.astro
  src/components/Navigation.astro
  src/env.d.ts
  src/pages/albums/[album].astro
  tools/photos.mjs
Due: eslint

build: migrate image viewer to astro
  src/pages/albums/[album].astro
Due: none

refactor: fix build and remove legacy code
  _vite.config.mjs
  package.json
  src/albums/business/index.html
  src/albums/families-and-kids/index.html
  src/albums/index.html
  src/albums/index.js
  src/albums/people-and-lifestyle/index.html
  src/albums/travel/index.html
  src/albums/weddings/index.html
  src/components/Album.astro
  src/partials/about.hbs
  src/partials/album.hbs
  src/partials/contact.hbs
  src/partials/footer.hbs
  src/partials/head/geolocation.hbs
  src/partials/head/icons.hbs
  src/partials/head/meta.hbs
  src/partials/head/social.hbs
  src/partials/header.hbs
  src/partials/main.hbs
  src/partials/navigation.hbs
  src/partials/photos.hbs
  src/styles/layout/about.css
  src/utils/photos.mjs
  src/utils/sharp.js
Due: eslint, stylelint

build: update hint port
  package.json
Due: none

feat(photos): highlight primary albums
  src/components/Photos.astro
  src/styles/layout/photos.css
Due: stylelint

feat(photos): move title onto image
  src/styles/layout/photos.css
Due: stylelint

fix(photos): fit photos into viewport
  src/styles/layout/about.css
  src/styles/layout/contact.css
  src/styles/layout/photos.css
Due: stylelint

feat(photos): highlight primary albums (#627)
  src/components/Photos.astro
  src/styles/layout/about.css
  src/styles/layout/contact.css
  src/styles/layout/photos.css
Due: stylelint

chore(release): 2.3.0-alpha.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  2744ec327b5aba7d5221a40c3a0ee29a16c89758
Due: none

feat: update font families
  package-lock.json
  package.json
  src/components/Photos.astro
  src/styles/base/base.css
  src/styles/elements/h.css
  src/styles/layout/photos.css
  src/styles/settings/fonts.css
Due: stylelint

feat(contact): update header font family
  src/styles/layout/contact.css
Due: stylelint

feat(header): update title and font family
  src/components/Header.astro
  src/styles/layout/header.css
Due: stylelint

feat: update font families (#631)
  package-lock.json
  package.json
  src/components/Header.astro
  src/components/Photos.astro
  src/styles/base/base.css
  src/styles/elements/h.css
  src/styles/layout/contact.css
  src/styles/layout/header.css
  src/styles/layout/photos.css
  src/styles/settings/fonts.css
Due: stylelint

style: update to latest prettier version
  .lintstagedrc.json
  package-lock.json
  package.json
  src/index.html
  src/styles/layout/album.css
Due: stylelint

chore(release): 2.3.0-alpha.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  da4d3e1b523ec34a904c646d5f50ca3abee3925f
Due: none

build(deps-dev): bump @typescript-eslint/parser from 5.62.0 to 6.2.0
  package-lock.json
  package.json
Due: none

fix(style): remove body container
  src/styles/base/base.css
Due: stylelint

fix(style): photo overflow on safari
  src/styles/layout/photos.css
Due: stylelint

chore(release): 2.3.0-alpha.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  75968250809449b949cd05de270ff28ce4f9215d
Due: none

feat: add localization for header and navigation
  .eslintrc
  src/components/Header.astro
  src/components/Navigation.astro
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/layouts/Layout.astro
  src/pages/[...path].astro
Due: eslint

Path conditions:
  eslint: any of: **/*.{js,mjs,ts}
  stylelint: any of: **/*.{css,less,sass,scss}
