Repository Th3S4mur41/mh-photography.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint, stylelint

.lintstagedrc.json:

{
	"**/*.{js,mjs,cjs,ts}": ["prettier --write --ignore-unknown", "eslint"],
	"**/*.{css,less,sass,scss}": ["prettier --write --ignore-unknown", "stylelint"],
	"**/.*!{js,mjs,cjs,ts,less,sass,scss}": "prettier --write --ignore-unknown"
}

fix: minor photo layout tweaks
  src/styles/layout/about.css
Due: prettier --write --ignore-unknown, stylelint

feat: add quote in about section (#714)
  package-lock.json
  package.json
  src/components/About.astro
  src/components/Card.astro
  src/styles/base/base.css
  src/styles/layout/about.css
  src/styles/layout/weddings.css
  src/styles/settings/colors.css
  src/styles/settings/fonts.css
Due: prettier --write --ignore-unknown, stylelint

chore(release): 2.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a98fd300fc60392a650b6853c6225d1ce69c869c
Due: none

fix: orphan page (has no incoming internal links)
  src/i18n/ui.ts
  src/pages/[...album].astro
Due: prettier --write --ignore-unknown, eslint

fix: more than one page for same language in hreflang
  astro.config.mjs
Due: prettier --write --ignore-unknown, eslint

fix(seo): remove cloudflare files from indexing
  public/robots.txt
Due: none

fix(seo): remove wrong twitter card content
  src/layouts/Layout.astro
Due: none

fix(seo): improve on multiple seo issues (#716)
  astro.config.mjs
  public/robots.txt
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/pages/[...album].astro
Due: prettier --write --ignore-unknown, eslint

chore(release): 2.7.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  983510b0489eba73291c0fdca9322b4d6ee019c3
Due: none

chore(deps): update and cleanup dependencies
  package-lock.json
  package.json
Due: none

style: fix linting errors
  src/styles/layout/about.css
  src/styles/layout/footer.css
  src/styles/layout/header.css
  src/styles/layout/videos.css
Due: prettier --write --ignore-unknown, stylelint

style: fix cod scanning alerts
  src/i18n/utils.ts
  src/scripts/album.js
Due: prettier --write --ignore-unknown, eslint

chore(seo): fix twitter account
  src/layouts/Layout.astro
Due: none

fix(seo): add missing h1
  src/components/Header.astro
  src/styles/layout/header.css
Due: prettier --write --ignore-unknown, stylelint

chore(release): 2.7.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  de69ea790d5d22e8cb0e3c0b44bf612de8240ce0
Due: none

fix: page has links to redirect
  src/i18n/utils.ts
Due: prettier --write --ignore-unknown, eslint

chore(release): 2.7.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  a6f928a086037a224467fc50efe829e029f4b208
Due: none

build(deps-dev): bump stylelint-config-property-sort-order-smacss from 9.1.0 to 10.0.0
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

chore(styles): fix linting errors
  src/styles/settings/colors.css
Due: prettier --write --ignore-unknown, stylelint

chore: update paths to astro v4
  .github/dependabot.yml
  src/styles/settings/fonts.css
  src/styles/styles.css
  src/utils/photos.mjs
  vite.config.cjs
Due: prettier --write --ignore-unknown, eslint, stylelint

chore: fix lint-staged config
  .lintstagedrc.json
Due: none

chore: update port for hint job
  package.json
Due: none

ci(deps): install optional dependencies
  .github/workflows/build-code.yml
  .github/workflows/lint-code.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-code.yml
  .github/workflows/visual-test.yml
Due: none

ci(dependabot): group typescript-eslint updates
  .github/dependabot.yml
Due: none

fix: update instagram linl
  src/components/Footer.astro
Due: none

chore(release): 2.7.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  28742cf40502bde18aad37d523375d09a5e1d640
Due: none

build: bump lockfile version from 1 to 3
  package-lock.json
Due: none

ci: update workflow permissions
  .github/workflows/build-code.yml
  .github/workflows/cancel-workflow.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot.yml
  .github/workflows/dependencies.yml
  .github/workflows/lint-code.yml
  .github/workflows/lint-pr.yml
  .github/workflows/on_pr.yml
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-code.yml
  .github/workflows/visual-test.yml
Due: none

fix: update repository url
  package.json
Due: none

build: update husky hooks to latest requirements
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none

build: add script to download portfolio from onedrive
  .gitignore
  .prettierignore
  bin/onedrive.js
  package.json
Due: prettier --write --ignore-unknown, eslint

chore(release): 2.7.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: replace eslint and stylelint through biome
  .lintstagedrc.json
  .prettierignore
  astro.config.mjs
  bin/onedrive.js
  biome.json
  commitlint.config.cjs
  package-lock.json
  package.json
  postcss.config.cjs
  src/i18n/ui.ts
  src/i18n/utils.ts
  src/scripts/album.js
  src/styles/base/base.css
  src/styles/base/vcard.css
  src/styles/layout/about.css
  src/styles/layout/album.css
  src/styles/layout/contact.css
  src/styles/layout/footer.css
  src/styles/layout/header.css
  src/styles/layout/navigation.css
  src/styles/layout/photos.css
  src/styles/layout/videos.css
  src/styles/layout/weddings.css
  src/styles/settings/colors.css
  src/styles/settings/fonts.css
  src/styles/settings/settings.css
  src/styles/styles.css
  src/utils/photos.mjs
  src/utils/sharp.cjs
Due: prettier --write --ignore-unknown, eslint, stylelint

test: ignore img[fetchpriority] compatibility
  .hintrc
Due: none

chore(release): 2.7.5 [skip ci]
  CHANGELOG.md
Due: none
