Repository Th3S4mur41/mh-photography.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

chore: add logo to footer
  src/partials/footer.hbs
  src/styles/layout/footer.css
Due: stylelint

feat: add hover effect on images
  src/styles/layout/album.css
  src/styles/layout/photos.css
Due: stylelint

chore(perf): load stylesheet async
  src/albums/business/index.html
  src/albums/families-and-kids/index.html
  src/albums/index.html
  src/albums/people-and-lifestyle/index.html
  src/albums/travel/index.html
  src/albums/weddings/index.html
  src/index.html
Due: none

fix(footer): set natural tab order & tune outline
  src/partials/footer.hbs
  src/styles/elements/a.css
  src/styles/layout/navigation.css
Due: stylelint

feat: add photo navigation buttons
  src/partials/album.hbs
  src/partials/head/meta.hbs
  src/scripts/album.js
  src/styles/layout/album.css
Due: eslint, stylelint

feat(album): add keyboard navigation
  src/scripts/album.js
Due: eslint

fix: adapt photo hover effect
  src/styles/layout/album.css
  src/styles/layout/photos.css
Due: stylelint

fix(social): allow robot to access social assets
  public/assets/social.jpg
  public/assets/social.png
  public/robots.txt
  src/partials/head/social.hbs
Due: none

chore(social): add open graph image details
  src/partials/head/social.hbs
Due: none

fix: fine tune font sizes
  src/styles/base/base.css
  src/styles/base/vcard.css
  src/styles/elements/h.css
  src/styles/layout/about.css
  src/styles/layout/contact.css
  src/styles/layout/header.css
  src/styles/layout/photos.css
  src/styles/settings/fonts.css
  src/styles/styles.css
Due: stylelint

fix: add vi/vb units fallback
  src/styles/layout/about.css
  src/styles/layout/contact.css
  src/styles/layout/photos.css
Due: stylelint

fix(photos): reduce hover filter impact
  src/styles/layout/album.css
  src/styles/layout/photos.css
  src/styles/settings/colors.css
  src/styles/settings/settings.css
Due: stylelint

fix(header): reduce max logo size
  src/styles/layout/header.css
Due: stylelint

fix(album): next photo button not hidden on last img
  src/scripts/album.js
Due: eslint

fix: limit images size to fit viewport
  src/styles/layout/about.css
  src/styles/layout/photos.css
Due: stylelint

fix(manifest): add proper url from root
  public/manifest.webmanifest
Due: none

fix(about): wrong mix blend mode on light theme
  src/styles/layout/about.css
  src/styles/settings/settings.css
Due: stylelint

ci: test needs build job to download artifact
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
Due: none

chore(release): 1.0.0-alpha.5 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  3176a5b9e7c86939ba4622c60a207bddaad1c982
Due: none

feat: add hero image carousel
  src/partials/header.hbs
  src/styles/layout/header.css
Due: stylelint

chore(release): 1.0.0-alpha.6 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  1b44a9e11183432cbad4ced032050589c73ba13e
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  377757f7431c39f71d4e467a79ff495ebd578dab
Due: none

feat!: update sitemap to redesign
  public/sitemap.xml
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  be189b677698b4521af59bcd563dac1e78261cc9
Due: none

ci: optimize build speed
  .github/workflows/build-code.yml
  .github/workflows/release.yml
  .github/workflows/test-code.yml
Due: none

ci: add publish to cloudflare job
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

ci(publish): add missing tokens
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
  .github/workflows/publish.yml
Due: none

ci(publish): fix action name
  .github/workflows/publish.yml
Due: none

ci: cancel previous workflows
  .github/workflows/cancel-workflow.yml
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
Due: none

ci: fix wrong runner
  .github/workflows/cancel-workflow.yml
Due: none

docs: minor readme update
  README.md
Due: none

ci: add missing permissions
  .github/workflows/publish.yml
Due: none

ci(publish): remove unnecessary dependency
  .github/workflows/publish.yml
Due: none

build: update node version to lts
  .github/workflows/build-code.yml
  .github/workflows/lint-code.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-code.yml
  .github/workflows/visual-test.yml
  .nvmrc
Due: none

feat(footer): add created by link
  src/partials/footer.hbs
  src/styles/layout/footer.css
Due: stylelint

Path conditions:
  eslint: any of: **/*.{js,mjs,ts}
  stylelint: any of: **/*.{css,less,sass,scss}
