Repository Th3S4mur41/mh-photography.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
	"**/*.{js,mjs,ts}": "eslint",
	"**/*.{css,less,sass,scss}": "stylelint"
}

feat: add base layout for initial wedding section
  src/components/Weddings.astro
  src/i18n/ui.ts
  src/styles/layout/weddings.css
Due: eslint, stylelint

feat(i18n): add weddings localization
  src/components/Weddings.astro
  src/i18n/ui.ts
  src/styles/layout/weddings.css
Due: eslint, stylelint

fix: minor localization correction
  src/i18n/ui.ts
Due: eslint

chore(release): 2.3.0-alpha.19 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  33ddf65b587614f7bd789960939dade724428084
Due: none

feat: set light theme as default
  src/styles/settings/colors.css
Due: stylelint

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  881c92e5baeed098404a35d519f5a301484686dd
Due: none

ci: optimize workflows
  .github/workflows/on_pr.yml
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
Due: none

fix: minor typo
  src/i18n/ui.ts
Due: eslint

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  438f632f60693004f8faa99d5c41fa9720d15088
Due: none

feat: update about image
  assets/img/about.jpg
  public/assets/img/about-100.avif
  public/assets/img/about-100.jpg
  public/assets/img/about-100.webp
  public/assets/img/about-1920.avif
  public/assets/img/about-1920.jpg
  public/assets/img/about-1920.webp
  public/assets/img/about-400.avif
  public/assets/img/about-400.jpg
  public/assets/img/about-400.webp
  src/components/About.astro
  src/styles/layout/about.css
Due: stylelint

feat: update about image (#707)
  assets/img/about.jpg
  public/assets/img/about-100.avif
  public/assets/img/about-100.jpg
  public/assets/img/about-100.webp
  public/assets/img/about-1920.avif
  public/assets/img/about-1920.jpg
  public/assets/img/about-1920.webp
  public/assets/img/about-400.avif
  public/assets/img/about-400.jpg
  public/assets/img/about-400.webp
  src/components/About.astro
  src/styles/layout/about.css
Due: stylelint

fix: update srcset width to match image
  src/components/About.astro
  src/components/Album.astro
  src/components/Photos.astro
  src/components/Weddings.astro
Due: none

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  f2700f5161942bbaf4982b7da2b24b87f0a31abb
Due: none

ci: fix concurrency group
  .github/workflows/on_pr.yml
Due: none

fix: update srcset width to match image (#708)
  src/components/About.astro
  src/components/Album.astro
  src/components/Photos.astro
  src/components/Weddings.astro
Due: none

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  429d99821c73d8ba005ad4422acb3393ec621dd4
Due: none

chore(seo): update meta keywords
  src/i18n/ui.ts
Due: eslint

feat: switch default theme to light
  src/layouts/Layout.astro
  src/styles/settings/colors.css
Due: stylelint

feat: update color palette
  package-lock.json
  package.json
  postcss.config.cjs
  src/styles/base/base.css
  src/styles/elements/button.css
  src/styles/layout/footer.css
  src/styles/layout/header.css
  src/styles/layout/language-selector.css
  src/styles/settings/colors.css
  src/styles/settings/fonts.css
Due: stylelint

fix: image shadow blurry with rotation
  src/styles/layout/about.css
  src/styles/layout/weddings.css
Due: stylelint

fix: update dark mode to grey palette
  src/styles/settings/colors.css
Due: stylelint

feat: update light color palette (#711)
  package-lock.json
  package.json
  postcss.config.cjs
  src/layouts/Layout.astro
  src/styles/base/base.css
  src/styles/elements/button.css
  src/styles/layout/about.css
  src/styles/layout/footer.css
  src/styles/layout/header.css
  src/styles/layout/language-selector.css
  src/styles/layout/weddings.css
  src/styles/settings/colors.css
  src/styles/settings/fonts.css
Due: stylelint

chore(release): 2.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4e25367d5d165bda1326e77129baf9ab032f01a5
Due: none

feat: add album title to page
  src/components/Album.astro
  src/styles/layout/album.css
Due: stylelint

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  42faecc68e0d430150b7cb97213731aa856091ea
Due: none

feat: add quote in about section
  package-lock.json
  package.json
  src/components/About.astro
  src/styles/base/base.css
  src/styles/layout/about.css
  src/styles/settings/fonts.css
Due: stylelint

chore: remove demo component
  src/components/Card.astro
Due: none

fix: quote color on image border & layout
  src/styles/layout/about.css
  src/styles/layout/weddings.css
  src/styles/settings/colors.css
Due: stylelint

chore: replace quote font family
  src/styles/base/base.css
  src/styles/layout/about.css
Due: stylelint

chore: add new video
  src/components/Videos.astro
Due: none
