Repository Th3S4mur41/mh-photography.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

chore(videos): minor ui improvements
  src/styles/elements/p.css
  src/styles/layout/videos.css
  src/styles/settings/fonts.css
  src/styles/settings/settings.css
Due: stylelint

style: fix liniting issues
  src/i18n/ui.ts
Due: eslint

feat: add initial layout for new about section (#678)
  src/components/About.astro
  src/i18n/ui.ts
  src/styles/base/base.css
  src/styles/elements/button.css
  src/styles/layout/about.css
  src/styles/settings/colors.css
  src/styles/settings/settings.css
Due: eslint, stylelint

chore(release): 2.3.0-alpha.12 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e31765ae4a91a987f818024b97ab2aed8f2236dc
Due: none

feat: add video section (#657)
  .hintrc
  src/components/Navigation.astro
  src/components/Videos.astro
  src/i18n/ui.ts
  src/pages/[...lang].astro
  src/styles/elements/p.css
  src/styles/layout/videos.css
  src/styles/settings/fonts.css
  src/styles/settings/settings.css
  src/styles/styles.css
Due: eslint, stylelint

chore(release): 2.3.0-alpha.13 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e0ecfa3c911ab2dccc8629b7f5ea4fc66775796a
Due: none

feat(i18n): add spanish localization
  package-lock.json
  src/i18n/ui.ts
Due: eslint

feat(i18n): add german localization
  src/i18n/ui.ts
Due: eslint

feat(i18n): add french localization
  src/i18n/ui.ts
Due: eslint

feat: add localization (#690)
  package-lock.json
  src/i18n/ui.ts
Due: eslint

chore(release): 2.3.0-alpha.14 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  e2afb2f0ed19fbebfb75527702ae2d240c828bb1
Due: none

fix: hero image on ultrawide screen
  src/styles/layout/header.css
Due: stylelint

chore: update social media preview image
  public/assets/social.jpg
  public/assets/social.png
Due: none

chore(release): 2.3.0-alpha.15 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  0e1c74b7254bb33d30c3a91e0d9dbda303a45496
Due: none

feat: add mobile navigation
  assets/svg/dismiss.svg
  assets/svg/navigation.svg
  src/components/Navigation.astro
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/styles/layout/header.css
  src/styles/layout/navigation.css
Due: eslint, stylelint

chore: minor hero logo tweaks
  src/styles/layout/header.css
  src/styles/settings/colors.css
Due: stylelint

fix: typo in meta keywords
  src/i18n/ui.ts
Due: eslint

feat: update SEO description to match title and subtitle
  src/i18n/ui.ts
  src/layouts/Layout.astro
Due: eslint

chore: improve header sizes on mobile
  src/styles/settings/fonts.css
Due: stylelint

chore: tweaking contact card
  src/styles/base/vcard.css
  src/styles/settings/fonts.css
Due: stylelint

chore(hero): reduce to 4 images
  src/components/Header.astro
  src/styles/layout/header.css
Due: stylelint

chore(release): 2.3.0-alpha.16 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  2174441a603f1f9d0a305221d26759c717c716e9
Due: none

fix(nav): mobile menu doesn't open on safari mobile
  src/components/Navigation.astro
Due: none

fix(nav): mobile menu doesn't open on safari mobile
  src/components/Navigation.astro
  src/styles/layout/navigation.css
Due: stylelint

chore(release): 2.3.0-alpha.17 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c93b5ca9cee3cf931c9f3de56cfe243f7cc4c05a
Due: none

fix(nav): mobile menu doesn't open on safari mobile
  src/components/Navigation.astro
  src/styles/layout/header.css
  src/styles/layout/navigation.css
Due: stylelint

fix(nav): add dismiss button
  src/components/Navigation.astro
  src/styles/layout/navigation.css
Due: stylelint

feat: add mobile navigation (#691)
  assets/svg/dismiss.svg
  assets/svg/navigation.svg
  src/components/Navigation.astro
  src/i18n/ui.ts
  src/layouts/Layout.astro
  src/styles/layout/header.css
  src/styles/layout/navigation.css
Due: eslint, stylelint

chore(release): 2.3.0-alpha.18 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  2ff25994e486e24c5b4bb5a6cc53176dcca39018
Due: none

chore: add new video
  src/components/Videos.astro
Due: none

Path conditions:
  eslint: any of: **/*.{js,mjs,ts}
  stylelint: any of: **/*.{css,less,sass,scss}
