Repository Th3S4mur41/mh-photography.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc.json:

{
	"**/*.{js,mjs,ts}": "eslint",
	"**/*.{css,less,sass,scss}": "stylelint"
}

refactor: setup initial page structure
  public/manifest.webmanifest
  src/index.html
  src/partials/about.hbs
  src/partials/contact.hbs
  src/partials/head/geolocation.hbs
  src/partials/head/social.hbs
  src/partials/header.hbs
  src/partials/navigation.hbs
  src/partials/photos.hbs
  src/styles/styles.css
  src/styles/utils/utils.css
  vite.config.js
Due: eslint, stylelint

refactor: setup webhint
  .gitignore
  .husky/pre-push
  package-lock.json
  package.json
  vite.config.js
Due: eslint

ci: update CI to latest requirements
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/build-code.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot.yml
  .github/workflows/dependencies.yml
  .github/workflows/lint-code.yml
  .github/workflows/lint-pr.yml
  .github/workflows/on_pr.yml
  .github/workflows/on_pr_target.yml
  .github/workflows/on_push.yml
  .github/workflows/release.yml
  .github/workflows/sonarqube.yml
  .github/workflows/test-code.yml
  .github/workflows/visual-test.yml
Due: none

refactor: add basic header and footer
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  assets/svg/Manuel-Hamel-_Large.svg
  package.json
  postcss.config.js
  src/index.html
  src/partials/footer.hbs
  src/partials/header.hbs
  src/partials/navigation.hbs
  src/partials/photos.hbs
  src/styles/layout/navigation.css
  src/styles/styles.css
  vite.config.js
Due: eslint, stylelint

refactor: add initial navigation style
  package-lock.json
  package.json
  src/styles/base/base.css
  src/styles/layout/navigation.css
  src/styles/settings/colors.css
  src/styles/settings/fonts.css
  src/styles/styles.css
Due: stylelint

refactor: add basic header style
  package-lock.json
  package.json
  src/partials/header.hbs
  src/styles/base/base.css
  src/styles/layout/header.css
  src/styles/layout/navigation.css
  src/styles/settings/colors.css
  src/styles/settings/settings.css
  src/styles/styles.css
Due: stylelint

refactor: add initial footer style
  assets/svg/facebook-messenger.svg
  assets/svg/facebook.svg
  assets/svg/instagram.svg
  assets/svg/linkedin.svg
  assets/svg/location.svg
  assets/svg/whatsapp.svg
  src/partials/footer.hbs
  src/styles/elements/a.css
  src/styles/elements/svg.css
  src/styles/layout/footer.css
  src/styles/layout/header.css
  src/styles/layout/navigation.css
  src/styles/settings/colors.css
  src/styles/settings/settings.css
  src/styles/styles.css
Due: stylelint

refactor: add initial about section
  assets/Hello.ai
  assets/img/about.jpg
  assets/svg/hello.svg
  src/assets/img/about.jpg
  src/styles/elements/p.css
  src/styles/layout/about.css
  src/styles/styles.css
Due: stylelint

build(node): downgrade no to v16
  .nvmrc
Due: none

ci: add puppeteer to provide a browser for webhint
  .github/workflows/test-code.yml
Due: none

build: ignore lazy loading compatibility error
  .hintrc
Due: none

ci: deploy build output in dist folder
  .github/workflows/test-code.yml
Due: none

chore(release): 1.0.0-alpha.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  cda0a86fa7a52d90ca138874ff4f0424b7cb6406
Due: none

fix(footer): social icons
  src/partials/footer.hbs
Due: none

chore(release): 1.0.0-alpha.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  5a9646291a4628a5b86576e8b4e64a456b20c7e8
Due: none

fix: replace dvb to avoid scroll jumping
  src/styles/layout/contact.css
  src/styles/layout/photos.css
Due: stylelint

chore(release): 1.0.0-alpha.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  384023cbd43a52b9263c6c8e3de458d3967f8231
Due: none

build(vite): add all albums to rollup
  vite.config.js
Due: eslint

refactor(photo): add initial photo dialog
  postcss.config.js
  src/albums/business/index.html
  src/partials/album.hbs
  src/scripts/album.js
  src/styles/base/animations.css
  src/styles/elements/button.css
  src/styles/elements/dialog.css
  src/styles/elements/img.css
  src/styles/layout/album.css
  src/styles/settings/colors.css
  src/styles/styles.css
Due: eslint, stylelint

refactor: minor improvements
  public/sitemap.xml
  src/albums/business/index.html
  src/albums/families-and-kids/index.html
  src/albums/index.html
  src/albums/people-and-lifestyle/index.html
  src/albums/travel/index.html
  src/albums/weddings/index.html
  src/index.html
  src/index.js
  src/partials/head/icons.hbs
  src/partials/head/meta.hbs
  vite.config.js
Due: eslint

refactor(album): minor improvements
  src/partials/album.hbs
  src/styles/elements/dialog.css
  src/styles/layout/album.css
Due: stylelint

refactor: setup color palette
  public/manifest.webmanifest
  src/partials/head/meta.hbs
  src/styles/settings/colors.css
Due: stylelint

fix: make about section responsive
  src/partials/about.hbs
  src/styles/layout/about.css
  src/styles/layout/footer.css
  src/styles/layout/navigation.css
Due: stylelint

refactor: move contact links to contact section
  src/partials/contact.hbs
  src/partials/footer.hbs
  src/styles/base/vcard.css
  src/styles/elements/a.css
  src/styles/layout/contact.css
  src/styles/settings/colors.css
Due: stylelint

chore(release): 1.0.0-alpha.4 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  dbc2be251cd116e24c1fdab2d59d3ffd654926dc
Due: none

feat: add favicon & manifest icons
  assets/logos/mh.svg
  assets/svg/manuel_Hamel_photography.svg
  assets/svg/mh_photo-light.svg
  assets/svg/mh_photo.svg
  public/assets/icons/apple-touch-icon.png
  public/assets/icons/favicon.png
  public/assets/icons/favicon.svg
  public/assets/icons/icon-128x128.png
  public/assets/icons/icon-144x144.png
  public/assets/icons/icon-152x152.png
  public/assets/icons/icon-192x192.png
  public/assets/icons/icon-384x384.png
  public/assets/icons/icon-512x512.png
  public/assets/icons/icon-72x72.png
  public/assets/icons/icon-96x96.png
  public/favicon.ico
  public/manifest.webmanifest
  src/manifest.webmanifest
  src/partials/contact.hbs
  src/partials/head/icons.hbs
  src/partials/head/meta.hbs
Due: none

feat: add initial open graph info
  public/assets/img/social.jpg
  public/assets/img/social.png
  src/albums/families-and-kids/index.html
  src/albums/index.html
  src/albums/people-and-lifestyle/index.html
  src/albums/travel/index.html
  src/albums/weddings/index.html
  src/index.html
  src/partials/head/social.hbs
Due: none

fix(header): blurred hero image
  src/partials/header.hbs
Due: none
